<ng-template #cont let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Detalles Automovil</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Marca: {{autoSeleccionado.marca}}</label>
                
                <label>Submarca: {{autoSeleccionado.submarca}}</label>
                
                
                
                <label>Descripción: {{autoSeleccionado.descripcion}}</label>
                
                
            </div> 
        </div>
    </div>
</ng-template>

<ul class="aut">
    <p *ngIf="displayProgressBar == true">
        <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
    </p>
    <li *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <img src="assets/images/eye.jpg" width="30" height="30" (click)="onSelect(auto, cont)">
        <span class="badge badge-secondary">{{auto.descripcion}}</span>
    </li>
</ul>

<div class="pagination"> 
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>





